.body{
    height:50px;
    font-weight:50px;
}

.puzzle{
    background-color: crimson;
    color:black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 600px;
}
.button{
    background-color:cornflowerblue;
    color:gold;

}